@page "/"

<BSJumbotron IsFluid="true">
    <BSContainer>
        <h1 class="display-4">Контент менеджер</h1>
        <p class="lead">Это наш контент менеджер</p>
    </BSContainer>
</BSJumbotron>


@*Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@
